
 *{
	
	font-family: "Verdana", sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}


body {
	background-color: mintcream;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

h1 {
	color: black !important;
	text-align: center;
	font-size: 3rem;	
}
#welcome{
	text-transform: uppercase;
}

section	{
	/*height: 100vh;*/
	text-align: center;
}
section > ul {
	list-style-type: none;
}

h2 {
	font-size: 1.5rem;
}

img + ol {
	list-style-type: none;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.class-sched {
	background-color: #90EE90;
}

#bootcamp-prog-list {
	border-width: 2px;
	border-style: solid;
	border-color: #0000FF;
	
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul~p{
	text-align: center;
}
#bootcamp-learning-list li{
	color: #075966;
}


form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 15px;
	height: 215px;
	width: 35vw;
	position: relative;
	left:30.25%;
	margin: 10px;
	padding: 15px;
}

section > form > label {
	color: rgb(0,0,128);
}

section > ul > li {
	letter-spacing: 10px;
}
button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
	padding:10px;
	margin-top: 18px;
	width: 215px;
	cursor: pointer;
}
